checklistconfig.dtd

<!ELEMENT CHECKLIST (SECTION*)>
<!ELEMENT SECTION (SECTIONTITLE, CHECKENTRY*)>
<!ELEMENT SECTIONTITLE (#PCDATA)>
<!ELEMENT CHECKENTRY (TITLETEXT, DESCTEXT?)>
<!ELEMENT TITLETEXT (#PCDATA)>
<!ELEMENT DESCTEXT (#PCDATA)>

<!ATTLIST checkentry id ID #REQUIRED>
<!ATTLIST checkentry checked ('True'|'False') 'False'>

